@import 'reset';

body {background: #36393F!important;}
.booking { padding: 2em; background: #202225; margin: 2em 1em; border-radius: 15px;
    .head {margin-bottom: 30px; color: #ffffff; font-size: 21px; border-radius: 5px; width: fit-content;}
    .flex-r { display: flex; justify-content: space-between; flex-direction: column;
        .flex-c { display: flex; padding-right: 25px; width: 100%; max-height: 550px; overflow-y: scroll; background: #2F3136; padding: 1em; border-radius: 10px; flex-wrap: wrap;
            .box-t { flex: 0 0 31.599%; max-width: 31.599%; border-radius: 45px; margin: 0.7%; background: #454953; border: 2px outset #a1a1a128; padding: 10px 15px; cursor: pointer; 
                h1 {color: #ffffff; font-size: 20px;}
                &:hover {background: #727272;}
                &:active {background: #3d3d3d; border-style: inset;}
                //&::before {content: ''; display: block; width: 15px; height: 15px; background: #2F3136; position: absolute; top: -8px; left: -8px; border-right: 1px solid #ffffff; transform: rotateZ(45deg);}
                &.hold {background: #5e6370; }
            }
            &::-webkit-scrollbar-track {background-color: transparent; border: none;}
            &::-webkit-scrollbar {width: 0px; background-color: transparent;}
            &::-webkit-scrollbar-thumb {background-color: transparent;}                  
            &::-webkit-scrollbar-thumb:hover {background-color: transparent;}
        }
        .tent-info { padding: 2em; width: 100%; border-radius: 15px; background: #2F3136; margin-top: 2em;
            .f-info {display: flex;
                .i-img {  padding-right: 2em;
                    img {max-width: 280px; max-height: 450px; width: auto; height: auto; object-fit: cover; box-shadow: 1px 2px 5px #8b8b8b; border: 1px solid #d4d4d4; border-radius: 15px;}
                }
            }
            .i-text { 
                ul {
                    span.red {color: #ff5353;}
                    li {padding-bottom: 20px; color: #ffffff; font-size: 18px;}
                }
                .bas { max-height: 250px; overflow-y: scroll; padding-right: 20px;
                    p {color: #d4d4d4; line-height: 1.4;}
                    &::-webkit-scrollbar-track {background-color: #2A2C31; border: none;}
                    &::-webkit-scrollbar {width: 7px; background-color: #999999;}
                    &::-webkit-scrollbar-thumb {background-color: #d8d8d8; border-radius: 4rem;}                  
                    &::-webkit-scrollbar-thumb:hover {background-color: #ffffff; }
                }
            }
        }
    }
}