html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* scrollbar */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #999999;
}

body::-webkit-scrollbar-thumb {
  background-color: #616161;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a50000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
}

.main-content {
  padding: 20px;
  background: #36393F;
  border-radius: 15px;
  margin-right: 1em;
  min-height: 90vh;
}

/*main detail*/
.box-log {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  font-family: "Poppins", Helvetica, sans-serif;
}
.box-log h1 {
  font-size: 45px;
  margin-bottom: 15px;
}
.box-log h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.box-log .login-f {
  font-family: "Sarabun", sans-serif;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  text-align: left;
  padding: 1em;
}
.box-log .login-f .top-l {
  display: flex;
  align-items: center;
}
.box-log .login-f .top-l img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.box-log .login-f .top-l .text-t-l h3 {
  font-size: 23px;
  padding-bottom: 7px;
  font-weight: bold;
}
.box-log .login-f .top-l .text-t-l h4 {
  color: #374047;
}
.box-log .login-f form {
  margin-top: 25px;
  position: relative;
  padding-bottom: 50px;
}
.box-log .login-f form input.lo {
  color: #ffffff;
  width: 100%;
  margin: 5px 0;
  border: none;
  background: #a1a1a1;
  border-radius: 10px;
  padding: 10px 5px;
}
.box-log .login-f form button {
  position: absolute;
  font-size: 15px;
  bottom: 0;
  right: 0;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #ffffff;
  background: #B50000;
  cursor: pointer;
}
.box-log .login-f form button:hover {
  background: #850000;
}
.box-log .login-f .explain h4 {
  margin: 10px 0 5px 0;
  font-weight: bolder;
}
.box-log .login-f .explain p {
  line-height: 1.4;
}/*# sourceMappingURL=login.css.map */