.main-content {
    .out-slide {
        padding: 0 20px 0 0;
        .slidershow-box {
            background: #2F3136;
            position: relative;
            height: 352px;
            .a {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                button {
                    background: none;
                    border: none;
                    font-size: 30px;
                    color: #ffffff;
                    &:hover {
                        color: #bdbdbd;
                    }
                }
                &.left {
                    left: 10px;
                }
                &.right {
                    right: 10px;
                }
            }
        }
    }
    .shelf {
        font-family: "Prompt", Helvetica, sans-serif;
        margin-top: 34px;
        h3 {
            color: #ffffff;
            font-size: 24px;
        }
        h5 {
            color: #BEBEBE;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .popular {
            .out-p {
                .box-p {
                    padding: 10px;
                    display: flex;
                    height: 193px;
                    text-decoration: none;
                    background: #484A52;
                    border-radius: 15px;
                    transition: 0.3s ease;
                    &:hover {
                        background: #3e4047;
                    }
                    .img-p {
                        min-width: 111px;
                        height: 173px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 15px;
                        }
                    }
                    .text-p {
                        width: 100%;
                        padding: 10px;
                        font-family: Arial, Helvetica, sans-serif;
                        h4 {
                            font-size: 20px;
                            color: #ffffff;
                            max-height: 20px;
                            overflow: hidden;
                                display: -webkit-box;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                        }
                        h5 {
                            padding: 5px 0;
                            font-size: 16px;
                            color: #ffffff;
                        }
                        p {
                            font-size: 14px;
                            color: #ffffff;
                            max-height: 90px;
                            line-height: 1.3;
                            overflow: hidden;
                                display: -webkit-box;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
        .book {
            
            .gory {
                background: #2F3136;
                h6 {
                    font-size: 21px;
                    color: #ffffff;
                }
                p {
                    font-size: 15px;
                    color: #BDBDBD;
                }
                ul {
                    margin-top: 20px;
                    a {
                        display: block;
                        margin-bottom: 8px;
                        text-decoration: none;
                        width: 100%;
                        padding: 14px 7px;
                        background: #33373A;
                        &:hover {
                            background: #5a5f64;
                        }
                        &.active {
                            p {
                                color: #484A52;
                            }
                            background: #C4C4C4;
                        }
                        p {

                        }
                    }
                }
            }
            .booklist {
                padding: 20px 10px;
                background: #484A52;
                .book {
                    a {
                        text-decoration: none;
                        height: 396px;
                        &:hover {
                            .img-bor {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                            .bottom-card {
                                background: #5a5f64;
                            }
                        }
                        .img-bor {
                            width: 100%;
                            height: 300px;
                            overflow: hidden;
                            background: #333333;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                width: auto;
                                height: auto;
                                object-fit: cover;
                                transition: 0.3s ease;
                            }
                        }
                        .bottom-card {
                            height: 76px;
                            padding: 10px;
                            background: #656970;
                            font-family: Arial, Helvetica, sans-serif;
                            h1 {
                                font-size: 18px;
                                color: #ffffff;
                                overflow: hidden;
                                    display: -webkit-box;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                            }
                            p {
                                color: #ffffff;
                                margin-top: 10px;
                                font-size: 15px;
                                max-height: 18px;
                                line-height: 1.3;
                                overflow: hidden;
                                    display: -webkit-box;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
                .page {
                    border-top: 2px solid #bdbdbd;
                    padding-top: 20px;
                    ul {
                        display: flex;
                        li {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 35px;
                            height: 35px;
                            background: #5d5f69;
                            margin: 0 10px;
                            border-radius: 5px;
                            transition: 0.3s ease;
                            a {
                                text-decoration: none;
                                color: #ffffff;
                            }
                            &.active , &:hover {
                                background: #ff8383;
                            }
                        }
                    }
                }
            }
        }
    }
}